<div style="border: 1px solid black; width: max-content; padding: 20px; margin: 10px 0px 10px 0px;">

    <form>

        <h3>Reactive Form</h3>
        <br>

        Username<br />
        <input type="text">
        <br /><br />

        Mail<br />
        <input type="text">
        <br /><br />

        Fruits<br />
        <select>
            <option value="apple">Apple</option>
            <option value="orange">Orange</option>
        </select>
        <br /><br />

        <button type="submit">Submit</button><br />

    </form>

</div>