<h3>Test works!</h3>

<app-test [firstNameSujay]="firstName" [lastName]="lastName" (schoolName12)="getEvent1($event)">

  <!-- To display this information in child component(app-test) you need to use <ng-content></ng-content> -->
  <p>Hello World! This is Sujay from app.component.html</p>

</app-test>

<br>

School Name: {{schoolName}}

<p appBasicHighlight>Style me with basic directive</p>
<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p>

<!-- Custom Structural Directive, checks for false statements -->
<div *appUnless="arrayNumbers.length < 0">
  <p *ngFor="let no of arrayNumbers">{{no}}</p>
</div>

<button routerLink="/trial" routerLinkActive="cssClass" [routerLinkActiveOptions]="{exact: true}">Trial
  Component</button>

<button [routerLink]="['/trial','10','edit']" [queryParams]="{param1: '1', param2: '2'}" fragment="loading.."
  href="#">Route To
  Trial Component with
  ID
  10</button>

<button (click)="onLogin()">Login</button>
<button (click)="onLogout()">Logout</button>


<!-- Animations Part -->
<br /><br />
<button class="btn btn-primary" style="margin-left: 10px;" (click)="onAnimate()">Animate</button>
<button class="btn btn-primary" style="margin-left: 10px;" (click)="onShrink()">Shrink</button>
<br /><br />

<div style="width: 100px; height: 100px; margin-left: 10px;" [@divState]="state"
  (@divState.start)="animationStarted($event)" (@divState.done)="animationDone($event)">
  <div>WELCOME to Animation of divState!</div>
</div>

<div style="width: 100px; height: 100px; margin-left: 10px; margin-top: 10px;" [@wildState]="wildState">
  <div>WELCOME to Animation of wildState!</div>
</div>

<router-outlet></router-outlet>